<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
      <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Pacifico" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
      <style>
          @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
          div>h2{
              font-family: 'Nanum Pen Script', cursive;
              text-align:center;
          }
          h2>span{
              font-family: 'Indie Flower', cursive;
              font-size:60px;
          }
          body>h2{
              font-family: 'Amatic SC', cursive;
              text-align:center;
              font-size:100px;
              font-weight:bold;
          }
          hr{
              height:3px;
              background-color: darkgray;
          }
      </style>
  </head>
  <body>
    <% include ../partials/nav %>

        <h2 style="color:darkcyan;">Simple Recipe</h2><br>
      
      <table id = "table">
              <tr> 
                  <td><img src="pict/1.png" /></td>
                  <td><img src="pict/2.bmp"></td>
                  <td><img src="pict/3.bmp"></td>
                  <td><img src="pict/4.bmp"></td>
          </tr>
      </table>

    <hr>

    <div id="title">
        <h2>맛있는 걸 먹고 싶은데 돈이 없다?<br>
        밥다운 밥을 먹고 싶은데 요리 방법을 모른다?<br>
            맛있게 한 끼를 해결하고 싶다?<br><br>
             <span>Welcome Simple Recipe!!!</span></h2>
      </div>

  </body>
</html>
