<!DOCTYPE html>
<html>
 <head>
    <% include ../partials/head %>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            div>p{ font-family: 'Nanum Pen Script', cursive; text-align:center; }
            
            img{display:block;margin-left:auto;margin-right:auto;}
               body{text-align:center;
                }
        </style>
    </head>
    <body>
        <% include ../partials/nav %>
        <h1 style="color:darkcyan;">Recipe</h1><hr>
        <div>
            <p style="text-align:center; font-size:60px">닭볶음탕</p><img src = "pict/14.png">
            <hr style="background-color: darkgrey; height: 3px">
           
                    <p style="font-size: 40px;"><strong>[재료]</strong></p>
            
                <strong> 손질 된 닭 &nbsp; 1마리 </strong>  <br>
                <strong> 간장 &nbsp;&nbsp;&nbsp;1t </strong><br>
                
            
            
                <strong> 감자 &nbsp; 2개</strong><br>
          
                 <strong>고춧가루 &nbsp;&nbsp;&nbsp; 1t </strong><br>
          
            
           
           
                <p style="font-size: 40px;"><strong>[선택]</strong></p>
            
               <strong> 당근 &nbsp;&nbsp;&nbsp; 1개</strong><br>
                <strong>양파 &nbsp;&nbsp;&nbsp; 1개</strong><br>
           
             <strong> 간마늘 &nbsp;&nbsp;&nbsp; 약간</strong><br>
             <strong> 후춧가루 &nbsp;&nbsp;&nbsp;  1t</strong><br>
            
            <p style="font-size: 40px;"><strong>[팁]</strong></p>
            <strong>간장 대신 굴 소스를 넣으면 맛이 더 풍부해집니다 !</strong><br>
            
           <hr style="background-color: darkgrey; height: 3px">
       
       
        <strong>1.&nbsp;닭이 잠길 정도로 물을 넣고 끓이고 끓을 동안 각종 야채들을 손질한다.   
     </strong><br>
        
         <strong>2.&nbsp;야채가 끓기 시작하면 간마늘, 간장을 넣고 끓여준다. </strong><br>
       <strong> 3.&nbsp;고춧가루를 반 컵 투하하고 후춧가루가 있으면 후춧가루를 넣고 졸여주면 완성. </strong><br>
                     
        </div>
    </body>
</html>