<!DOCTYPE html>
<html>
 <head>
    <% include ../partials/head %>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            div>p{ font-family: 'Nanum Pen Script', cursive; text-align:center; }
            
            img{display:block;margin-left:auto;margin-right:auto;}
               body{text-align:center;
                }
        </style>
    </head>
    <body>
        <% include ../partials/nav %>
        <h1 style="color:darkcyan;">Recipe</h1><hr>
        <div>
            <p style="text-align:center; font-size:60px">된장찌게</p><img src = "pict/15.jpg">
            <hr style="background-color: darkgrey; height: 3px">
            <div>
               
                    <p style="font-size: 40px;"><strong>[재료]</strong></p>
            
           <strong> 된장 &nbsp; 1t</strong><br>
             <strong> 쌀뜨물 &nbsp; 야채 잠길정도</strong><br>
                
       <strong>  고춧가루 &nbsp;  2t</strong><br>
              <strong>두부 &nbsp;&nbsp;&nbsp; 반 모</strong><br>
                
          
                <p style="font-size: 40px;"><strong>[선택]</strong></p>
        <strong> 쌈장 &nbsp;&nbsp;&nbsp;  1t</strong><br>
        <strong> 대파 &nbsp;&nbsp;&nbsp; 1줌</strong><br>
       <strong> 감자 &nbsp;&nbsp;&nbsp; 1개</strong>
                <br>
            <p style="font-size: 40px;"><strong>[팁]</strong></p>
            <strong>청양고추를 넣어주면 칼칼함이 살아납니다!</strong><br>
                 <strong>물 대신 멸치 다싯물을 넣어주면 감칠맛이 납니다!</strong><br>
           <hr style="background-color: darkgrey; height: 3px">
      
      <strong>1. &nbsp;야채들을 손질한다.</strong><br>
       
      <strong>  2.&nbsp;쌀뜨물을 넣고 야채들을 넣어 끓여준다.  </strong><br>
      <strong> 3.&nbsp;야채가 익으면 된장과 고춧가루를 넣어주고 쌈장이 있다면 쌈장도 넣어주는 것이 풍미를 높혀준다.  </strong> <br>
      <strong> 4.&nbsp;다 끓고 난 후 두부를 넣어주면 완성.   </strong><br>
       
        </div>
       
        
        
        
       </div>
    </body>
</html>