<!DOCTYPE html>
<html>
    <head>
    <% include ../partials/head %>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            
            div>p{ font-family: 'Nanum Pen Script', cursive; text-align:center; }
            
            
            img{display:block;margin-left:auto;margin-right:auto;}
            body{text-align:center;
                }
        </style>
    </head>
    <body>
        <% include ../partials/nav %>
        <h1 style="color:darkcyan;">Recipe</h1><hr>
        <div>
            <p style="text-align:center; font-size:60px">떡볶이</p><img src = "pict/6.jpg">
            <hr style="background-color: darkgrey; height: 3px">
            <p style="font-size: 40px;"><strong>[재료]</strong></p>
                    <div class="a">
                       <strong>봉지 떡 &nbsp;&nbsp;&nbsp; 1봉지</strong><br>
                    
                        <strong>봉지 어묵 &nbsp;&nbsp;&nbsp; 2장</strong><br>
                    
                  
             
                 <p style="font-size: 40px;"><strong>[선택]</strong></p>
            
                        <strong>삶은 달걀 &nbsp;&nbsp;&nbsp; 1개</strong><br>
                    
                        <strong>대파&nbsp;&nbsp;&nbsp; 1줌</strong><br>
                    
                 
                    <strong>양파&nbsp;&nbsp;&nbsp; 1/4개</strong><br>
                        
                     <p style="font-size: 40px;"><strong>[팁]</strong></p>
            <strong>완성 전 3분동안 치즈를 넣고 뚜껑을 덮어주면 치즈 떡볶이 완성!</strong><br>
             
           
            <hr style="background-color: darkgrey; height: 3px">
            
              
                  
                     <strong>   1.&nbsp;떡볶이 떡은 찬 물에 20-30분 불려준 후 물기를 빼준다.</strong><br>
                    
                  
                       <strong> 2.&nbsp;종이컵으로 두 컵의 물을 붓고 떡볶이 소스와 건더기를 넣고 바글바글 끓으면 떡볶이 떡을 넣어 달라붙지않게 잘 저어준다.</strong><br>
                    
                   
                       <strong>  3.&nbsp;자른 어묵, 삶은 달걀, 채썬 양파를 넣어준다.</strong><br>
                    
                   
                       <strong> 4.&nbsp;소스가 걸쭉해질 때 쯤 대파를 넣고 마무리한다.</strong><br> </div>
                    
        </div>   
    </body>
</html>