<!DOCTYPE html>
<html>
 <head>
    <% include ../partials/head %>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            div>p{ font-family: 'Nanum Pen Script', cursive; text-align:center; }
            img{display:block;margin-left:auto;margin-right:auto;}
               body{text-align:center;
                }
        </style>
    </head>
    <body>
        <% include ../partials/nav %>
        <h1 style="color:darkcyan;">Recipe</h1><hr>
        <div>
            <p style="text-align:center; font-size:60px">간장계란밥</p><img src = "pict/13.jpg">
            <hr style="background-color: darkgrey; height: 3px">
     
             
                    <p style="font-size: 40px;"><strong>[재료]</strong></p>
              
            
          
             <strong>  밥 &nbsp; 1공기</strong><br>
           <strong> 간장 &nbsp;&nbsp;&nbsp;  1t</strong><br>
            
        <strong>  달걀 &nbsp; 1개</strong><br>
            <strong>참기름 &nbsp;&nbsp;&nbsp;  1t</strong><br>
         
           
                <p style="font-size: 40px;"><strong>[선택]</strong></p>
         <strong> 깨소금 &nbsp;&nbsp;&nbsp; 약간</strong><br>
              <strong>  대파 썬 것 &nbsp;&nbsp;&nbsp; 1줌</strong><br>
           <p style="font-size: 40px;"><strong>[팁]</strong></p>
            <strong>김가루를 뿌려주면 고소!</strong><br>
                 <strong>간장 대신 굴 소스를 넣어주면 풍미가 두배!</strong><br>
           <hr style="background-color: darkgrey; height: 3px">
        <strong>1.&nbsp;밥을 준비한다.</strong><br>
       <strong> 2.&nbsp;반숙으로 익힌 달걀을 올리고 간장, 참기름을 종이컵 1cm정도 부어준다. </strong> <br>
       <strong> 3.&nbsp;깨소금과 대파가 있다면 추가적으로 뿌려주면 완성.  
       </strong><br>
           
        
       
        
          
        
       </div>
    </body>
</html>