<!DOCTYPE html>
<html>
    <head>
    <% include ../partials/head %>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            div>p{ font-family: 'Nanum Pen Script', cursive; text-align:center; }
    
            img{display:block;margin-left:auto;margin-right:auto;}
              body{text-align:center;
                }
        </style>
    </head>
    <body>
        <% include ../partials/nav %>
        <h1 style="color:darkcyan;">Recipe</h1><hr>
        <div>
            <p style="text-align:center; font-size:60px">제육볶음</p><img src = "pict/9.jpg">
            <hr style="background-color: darkgrey; height: 3px">
       
                    <p style="font-size: 40px;"><strong>[재료]</strong></p>
            
            <strong>돼지 앞다리살 &nbsp;&nbsp;&nbsp; 1팩</strong><br>
               <strong>다진마늘 &nbsp;&nbsp;&nbsp; 2줌</strong><br>
         
               <strong> 고춧가루 &nbsp;&nbsp;&nbsp;  1t</strong><br>
             <strong> 간장 &nbsp;&nbsp;&nbsp;  1t</strong><br>
           
                <strong>고추장 &nbsp;&nbsp;&nbsp;  4t</strong><br>
               <strong> 설탕 &nbsp;&nbsp;&nbsp;  1t</strong><br>
        
           
        
                <p style="font-size: 40px;"><strong>[선택]</strong></p>
            
               <strong>양파 &nbsp;&nbsp;&nbsp; 1개</strong><br>
               <strong>대파 썬 것 &nbsp;&nbsp;&nbsp; 1줌</strong><br>
 <p style="font-size: 40px;"><strong>[팁]</strong></p>
            <strong>앞다리 살과 소주 1t 넣어서 재우면 잡내가 사라집니다 !</strong><br>
                 
           <hr style="background-color: darkgrey; height: 3px">
<strong>1.&nbsp;앞다리살 1팩을 준비하고 설탕을 넣어 30분간 재운다.   </strong><br>
       <strong> 2.&nbsp;고기를 재우는 동안 야채가 있다면 야채를 썰어 준다.  </strong> <br>
       <strong> 3.&nbsp;다진마늘, 고춧가루, 고추장, 간장을 넣어 양념장을 만든다.  </strong><br>
       <strong> 4.&nbsp;재워 진 고기에 야채를 넣어 같이 버무려 준다.  </strong><br>
       <strong> 5.&nbsp;버무려진 고기를 후라이팬에 볶아준다.  </strong><br>
     
         
            
        </div>
      
    </body>
</html>
