<!DOCTYPE html>
<html>
 <head>
    <% include ../partials/head %>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            div>p{ font-family: 'Nanum Pen Script', cursive; text-align:center; }
            strong{font-size:30px;}
            td{font-size:20px;}
            img{display:block;margin-left:auto;margin-right:auto;}
        </style>
    </head>
    <body>
        <% include ../partials/nav %>
        <h1 style="color:darkcyan;">Recipe</h1><hr>
        <div>
            <p style="text-align:center; font-size:60px">김밥</p><img src = "pict/6.jpg">
            <hr style="background-color: darkgrey; height: 3px">
            <div>
                <table class = "ing">
                    <caption style="font-size: 20px;"><strong>[재료]</strong></caption>
            
            <tr>
                <td>밥 &nbsp;&nbsp;&nbsp; 2공기</td>
                <td>김 &nbsp;&nbsp;&nbsp; 2장</td>
            </tr>
            <tr>
                <td>소금 &nbsp;&nbsp;&nbsp; 약간</td>
                <td>참기름 &nbsp;&nbsp;&nbsp; 약간</td>
            </tr>
            <tr>
                <td>당근 &nbsp;&nbsp;&nbsp; </td>
                <td>계란지단 &nbsp;&nbsp;&nbsp; </td>
            </tr>
            
            </table>
           
            <table class="ing">
                <caption style="font-size: 20px;"><strong>[선택]</strong></caption>
        
            <tr>
                <td>각종 야채 &nbsp;&nbsp;&nbsp; </td>
            </tr>
            </table>
        </div>
           <hr style="background-color: darkgrey; height: 3px">
        <div>
        <table id="step">
        <tr>
        <td><img src="pict/Number_circle_black/1.png">&nbsp;각종 야채들을 채 썰어 준비한다.</td>
        </tr>
         <tr>
        <td><img src="pict/Number_circle_black/2.png">&nbsp;밥을 넣고 참기름과 소금으로 간을 한다.</td>   
        </tr>    
         <tr>
        <td><img src="pict/Number_circle_black/3.png">&nbsp;김에 밥을 펴 발라 주고 밥 위에 채 썬 각종 야채들을 올려서 돌돌 말아준다.</td>   
        </tr>    
        <tr>
        </table>
            
            
           
        </div>
       
        
        
        
       </div>
    </body>
</html>