<!DOCTYPE html>
<html>
 <head>
    <% include ../partials/head %>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            div>p{ font-family: 'Nanum Pen Script', cursive; text-align:center; }
            strong{font-size:30px;}
            td{font-size:20px;}
            img{display:block;margin-left:auto;margin-right:auto;}
        </style>
    </head>
    <body>
        <% include ../partials/nav %>
        <h1 style="color:darkcyan;">Recipe</h1><hr>
        <div>
            <p style="text-align:center; font-size:60px">김치볶음밥</p><img src = "pict/6.jpg">
            <hr style="background-color: darkgrey; height: 3px">
            <div>
                <table class = "ing">
                    <caption style="font-size: 20px;"><strong>[재료]</strong></caption>
            
            <tr>
                <td>밥 &nbsp;&nbsp;&nbsp; 1공기</td>
                <td>김치 &nbsp;&nbsp;&nbsp; 1공기</td>
            </tr>
            <tr>
                <td>고춧가루 &nbsp;&nbsp;&nbsp; 종이컵2cm</td>
                <td>간장 &nbsp;&nbsp;&nbsp; 종이컵2cm</td>
            </tr>
            <tr>
                <td>참기름 &nbsp;&nbsp;&nbsp; 종이컵1cm</td>
                <td>식용유 &nbsp;&nbsp;&nbsp; 종이컵1cm</td>
            </tr>
            </table>
           
            <table class="ing">
                <caption style="font-size: 20px;"><strong>[선택]</strong></caption>
            <tr>
                <td>달걀 &nbsp;&nbsp;&nbsp; 1개</td>
                <td>대파 썬 것 &nbsp;&nbsp;&nbsp; 1줌</td>
            </tr>
            </table>
        </div>
           <hr style="background-color: darkgrey; height: 3px">
        <div>
        <table id="step">
        <tr>
        <td><img src="pict/Number_circle_black/1.png">&nbsp;김치를 송송 먹기좋게 자른다.</td>   
        </tr>
         <tr>
        <td><img src="pict/Number_circle_black/2.png">&nbsp;대파가 있다면 노릇해 질 정도로 볶아주고 없다면 김치를 넣어 달달 볶아준다.</td>   
        </tr>    
         <tr>
        <td><img src="pict/Number_circle_black/3.png">&nbsp;볶은 김치위에 고춧가루를 넣고 간을 맞추기 위해 간장을 종이컵 기준 2cm 넣어 준다.</td>   
        </tr>    
         <tr>
        <td><img src="pict/Number_circle_black/4.png">&nbsp;간이 된 김치위에 참기름과 함께 밥을 넣고 볶아주면 완성.</td>   
        </tr>    
         
            
            
        </table>
            
            
           
        </div>
       
        
        
        
       </div>
    </body>
</html>
