<!DOCTYPE html>
<html>
 <head>
    <% include ../partials/head %>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            div>p{ font-family: 'Nanum Pen Script', cursive; text-align:center; }
            strong{font-size:30px;}
            td{font-size:20px;}
            img{display:block;margin-left:auto;margin-right:auto;}
        </style>
    </head>
    <body>
        <% include ../partials/nav %>
        <h1 style="color:darkcyan;">Recipe</h1><hr>
        <div>
            <p style="text-align:center; font-size:60px">김치찌게</p><img src = "pict/6.jpg">
            <hr style="background-color: darkgrey; height: 3px">
            <div>
                <table class = "ing">
                    <caption style="font-size: 20px;"><strong>[재료]</strong></caption>
            
            <tr>
                <td>양파 &nbsp;&nbsp;&nbsp; 1개</td>
                <td>김치 &nbsp;&nbsp;&nbsp; 1개</td>
            </tr>
            <tr>
                <td>고춧가루 &nbsp;&nbsp;&nbsp; 종이컵2cm</td>
                <td>쌀뜨물 &nbsp;&nbsp;&nbsp; 종이컵 4컵</td>
            </tr>
            <tr>
                <td>참기름 &nbsp;&nbsp;&nbsp; 종이컵1cm</td>
                <td>간장 &nbsp;&nbsp;&nbsp; 종이컵1cm</td>
            </tr>
            </table>
           
            <table class="ing">
                <caption style="font-size: 20px;"><strong>[선택]</strong></caption>
            <tr>
                <td>돼지고기 &nbsp;&nbsp;&nbsp; 1팩</td>
                <td>대파 썬 것 &nbsp;&nbsp;&nbsp; 1줌</td>
            </tr>
            <tr>
                <td>새우젓 &nbsp;&nbsp;&nbsp; 약간</td>
                <td>다진마늘 &nbsp;&nbsp;&nbsp; 약간</td>
            </tr>
            <tr>
                <td>청양고추 &nbsp;&nbsp;&nbsp; 반 줌</td>
            </tr>
            </table>
        </div>
           <hr style="background-color: darkgrey; height: 3px">
        <div>
        <table id="step">
        <tr>
        <td><img src="pict/Number_circle_black/1.png">&nbsp;김치는 송송 썰어준비한다.</td>   
        </tr>
         <tr>
        <td><img src="pict/Number_circle_black/2.png">&nbsp;쌀뜨물을 끓이는데 돼지고기가 있다면 넣어 같이 끓여준다.</td> 
        </tr>    
         <tr>
        <td><img src="pict/Number_circle_black/3.png">&nbsp;국물이 우러나면 김치를 넣고 대파, 다진마늘, 청양고추를 넣어 끓인다.</td>   
        </tr>    
         <tr>
        <td><img src="pict/Number_circle_black/4.png">&nbsp;고춧가루, 참기름, 간장을 넣고 간을 맞추면 완성.</td>   
        </tr>    
         
            
            
        </table>
            
            
           
        </div>
       
        
        
        
       </div>
    </body>
</html>
