<!DOCTYPE html>
<html>
 <head>
    <% include ../partials/head %>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            div>p{ font-family: 'Nanum Pen Script', cursive; text-align:center; }
            strong{font-size:30px;}
            td{font-size:20px;}
            img{display:block;margin-left:auto;margin-right:auto;}
        </style>
    </head>
    <body>
        <% include ../partials/nav %>
        <h1 style="color:darkcyan;">Recipe</h1><hr>
        <div>
            <p style="text-align:center; font-size:60px">콩나물국</p><img src = "pict/6.jpg">
            <hr style="background-color: darkgrey; height: 3px">
            <div>
                <table class = "ing">
                    <caption style="font-size: 20px;"><strong>[재료]</strong></caption>
            
            <tr>
                <td>콩나물 &nbsp;&nbsp;&nbsp; 1줌</td>
                <td>물 &nbsp;&nbsp;&nbsp; 5컵</td>
            </tr>
            <tr>
                <td>대파 &nbsp;&nbsp;&nbsp; 1줌</td>
                <td>다진마늘 &nbsp;&nbsp;&nbsp; 종이컵2cm</td>
            </tr>
            <tr>
                <td>소금 &nbsp;&nbsp;&nbsp; 종이컵0.5cm</td>
            </tr>
            </table>
           
            <table class="ing">
                <caption style="font-size: 20px;"><strong>[선택]</strong></caption>
            <tr>
                <td>참기름 &nbsp;&nbsp;&nbsp; 종이컵2cm</td>
                
            </tr>
            </table>
        </div>
           <hr style="background-color: darkgrey; height: 3px">
        <div>
        <table id="step">
        <tr>
        <td><img src="pict/Number_circle_black/1.png">&nbsp;끓는 물에 콩나물, 소금을 넣어 뚜껑을 닫고 팔팔 끓여준다.</td>
        </tr>
         <tr>
        <td><img src="pict/Number_circle_black/2.png">&nbsp;콩나물이 투명해질 때 쯤 다진마늘과 대파를 넣고 살짝 끓여준다.</td>   
        </tr>    
         <tr>
        <td><img src="pict/Number_circle_black/3.png">&nbsp;마늘과 대파의 향이 우러나면 완성. 참기름이 있다면 넣고 살짝만 끓여준다.</td>   
        </tr>    
        
            
        </table>
            
            
           
        </div>
       
        
        
        
       </div>
    </body>
</html>