<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            div>p{ font-family: 'Nanum Pen Script', cursive; text-align:center; }
            strong{font-size:30px;}
            td{font-size:20px;}
            img{display:block;margin-left:auto;margin-right:auto;}
        </style>
    </head>
    <body>
        <% include ../partials/nav %>
        <h1 style="color:darkcyan;">Recipe</h1><hr>
        <div>
            <p style="text-align:center; font-size:60px">라면</p><img src = "pict/6.jpg">
            <hr style="background-color: darkgrey; height: 3px">
            <div>
                <table class = "ing">
                    <caption style="font-size: 20px;"><strong>[재료]</strong></caption>
            
            <tr>
                <td>라면 &nbsp; 1봉지</td>
                <td>물 &nbsp; 종이컵 4컵</td>
            </tr>
            
            </table>
           
            <table class="ing">
                <caption style="font-size: 20px;"><strong>[선택]</strong></caption>
            <tr>
                <td>달걀 &nbsp;&nbsp;&nbsp; 1개</td>
                <td>대파 썬 것 &nbsp;&nbsp;&nbsp; 1줌</td>
            </tr>
                 <tr>
                <td>김치 &nbsp;&nbsp;&nbsp; 1줌</td>
                <td>양파 썬 것 &nbsp;&nbsp;&nbsp; 1개</td>
            </tr>
            </table>
        </div>
           <hr style="background-color: darkgrey; height: 3px">
        <div>
        <table id="step">
        <tr>
        <td><img src="pict/Number_circle_black/1.png">&nbsp;물을 끓인다.</td>   
        </tr>
         <tr>
        <td><img src="pict/Number_circle_black/2.png">&nbsp;물이 끓기 시작하면 스프를 먼저 넣고 면을 넣어준다.</td>   
        </tr>    
         <tr>
        <td><img src="pict/Number_circle_black/3.png">&nbsp;면이 풀리기 직 전 달걀이 있다면 달걀을 풀어주고 대파와 양파 썬 것을 각각 넣고 김치도 넣어주면 완성.</td>   
        </tr>    
        
        </table>
            
            
           
        </div>
       
        
        
        
       </div>
    </body>
</html>