<!DOCTYPE html>
<html>
   <head>
    <% include ../partials/head %>
        <style>
            @import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);
            div>p{ font-family: 'Nanum Pen Script', cursive; text-align:center; }
            strong{font-size:30px;}
            td{font-size:20px;}
            img{display:block;margin-left:auto;margin-right:auto;}
        </style>
    </head>
    <body>
        <% include ../partials/nav %>
        <h1 style="color:darkcyan;">Recipe</h1><hr>
        <div>
            <p style="text-align:center; font-size:60px">유부초밥</p><img src = "pict/6.jpg">
            <hr style="background-color: darkgrey; height: 3px">
            <div>
                <table class = "ing">
                    <caption style="font-size: 20px;"><strong>[재료]</strong></caption>
            
            <tr>
                <td>유부초밥 &nbsp; 1팩</td>
                <td>밥 &nbsp; 2공기</td>
                
            </tr>
            <tr>
                <td>소금 &nbsp; 종이컵 1cm</td>
                <td>식초 &nbsp;&nbsp;&nbsp; 종이컵 1cm</td>
                
            </tr>
            
            </table>
           
            <table class="ing">
                <caption style="font-size: 20px;"><strong>[선택]</strong></caption>
            <tr>
                <td>당근 &nbsp;&nbsp;&nbsp; 1/3개</td>
                <td>햄 &nbsp;&nbsp;&nbsp; 1줄</td>
            </tr>
             <tr>
                <td>단무지 &nbsp;&nbsp;&nbsp; 1줄</td>
                <td>설탕 &nbsp;&nbsp;&nbsp; 종이컵 1cm</td>
                
            </tr>
            </table>
        </div>
           <hr style="background-color: darkgrey; height: 3px">
        <div>
        <table id="step">
        <tr>
        <td><img src="pict/Number_circle_black/1.png">&nbsp;소금, 설탕, 식초를 종이컵 1cm씩 맞춰 밥에 넣고 섞어준다.</td>   
        </tr>
         <tr>
        <td><img src="pict/Number_circle_black/2.png">&nbsp;야채가 있다면 야채를 다져준다.</td>   
        </tr>    
         <tr>
        <td><img src="pict/Number_circle_black/3.png">&nbsp;다진 야채를 볶고 볶은 야채와 밥을 섞어 유부에 넣어주면 완성.</td>   
        </tr>   
       
            
        
        </table>
            
            
           
        </div>
       
        
        
        
       </div>
    </body>
</html>